    .box {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box,
h1 {
    font-size: 40px;
}

#inputbtn {
    width: 45%;
    padding: 5px 10px;
    font-size: 17px;
    border: none;
border-bottom: 4px solid black;
outline: none;
}

.btn {
    width: 45%;
    padding: 7px 10px;
    font-size: 17px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: black;
  /* color: blue; */
}