table{
    border-collapse: collapse;
    
}

tr,td,th{
    border: 1px solid gray;
    padding: 5px 10px;
}



.inp1{
    padding: 10px 20px;
    border-radius: 20px 0px 20px 0px;
}


td{
    font-size: 15px;
}